<radial-gauge
  [value]="(value$ | async)"
  title="Turbine Velocity"
  units="rpm"
  width="500"
  height="500"

  min-value="0"
  max-value="120"
  major-ticks="0, ,20, ,40, ,60, ,80, ,100, ,120"
  minor-ticks="2"
  font-numbers-size="25"
    
  color-plate="#000"
  color-plate-end="#222"
  color-major-ticks="#888"
  color-minor-ticks="#ddd"
  color-title="#eee"
  color-units="#ccc"
  color-numbers="#bb1"
  highlights='[
    {"from": 80, "to": 120, "color": "rgba(200, 50, 50, .5)"}
  ]'

  needle-type="arrow"
  needle-width="2"
  needle-circle-size="7"
  needle-circle-outer="true"
  needle-circle-inner="false"
  color-needle-shadow-down="#550"
  color-needle-circle-outer="#333"
  color-needle-circle-outer-end="#111"

  animation-duration="900"
  animation-rule="linear"
    
  borders="true"
  border-inner-width="10"
  border-middle-width="1"
  border-outer-width="5"
  border-shadow-width="0"
  color-border-outer="#111"
  color-border-middle="#888"
  color-border-middle-end="#555"
  color-border-inner="#111"
    
  value-box="false"
></radial-gauge>
